body{
  max-width: 1320px;
  align-items: center;
  /* width: 100%; */
  margin-right: 140px;
  margin-left: 140px;
}
header{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}
.merriweather{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}
.head-one{
  background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0)), url(../images/Banner\ Image.png);
  border-radius: 16px;
  color: #FFFFFF;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  text-align: center;
}
.text-one{
  padding: 177px 344px 177px 344px;
  width: 632px;
  height: 246px;
}
.text-one h4{
  font-size: 32px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 16px;
}
.text-one h1{
  margin-top: 0px;
  font-size: 72px;
  font-weight: bolder;
}
.head-two{
  text-align: center;
  width: 803px;
  height: 806px;
  margin: 0px 260px 0px 260px;
}
.head-two h1{
  font-size: 88px;
  font-weight: bold;
  color: #FF0000;
}
.head-two h5{
  font-size: 24px;
  font-weight: 100;
  color: #FF0000;
}
.head-two h2{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
}
.head-two img{
  width: 803px;
  height: 500px;
}
.head-three {
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)) ,url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 120px;
  margin-bottom: 120px;
  width: 100%;
  height:600px;
}
.head-three .item{
  margin: 70px 126px 138px 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head-three .text{
  text-align: left;
}
.head-three .item .text h1{
  width: 500px;
  height: 176px;
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.head-three .item .text p{
  width: 697px;
  height: 60px;
  margin-right: 40px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  margin-top: 24px;
  opacity: .7;
}
.head-three img{
  height: 465px;
  width: 320px;
}
.head-three .item .text button{
  margin-left: 0px;
  width: 120px;
  height: 24px;
  color: #FFFFFF;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.main-one{
  background: linear-gradient(to bottom, #fce1e1 0%, #ffffff 100%);
  width: 1320px-280px;
  height: 482px;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  padding: 100px 386px 110px 385px;
  border-radius: 16px;
}
.main-one .red{
  color: #FF0000;
}
.main-one button{
  color: #FFFFFF;
  background-color: red;
  width: 167px;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 16px 32px 16px 32px;
}
.main-two{
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 463px;
  width: 100%;
  margin-bottom: 120px;
}
.main-two .best-offer-one{
  width: 393px;
  height: 255px;
  padding: 104px 70px 104px 0px;
}
.main-two h4{
  width: 207px;
  height: 29px;
  color: #FF0000;
  font-size: medium;
  font-weight: 24px;
  margin-bottom: 0px;
}
.main-two h1{
  margin-top: 0px;
  width: 328px;
  height: 60px;
  color: #070211;
  font-size: 48px;
  font-weight: bolder;
}
.main-two p{
  width: 329px;
  height: 128px;
  color: #070211;
  font-size: small;
  font-weight: 20px;
  opacity: .5;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-two .circle{
  height: 463px;
  width: 463px;
  padding: 0px 70px 0px 0px;
}
.circle-border {
  display: inline-block;
  padding: 18px;
  border: 10px solid red;
  border-radius: 50%;
}
.main-two .circle-img{
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.main-two .offer{
  padding: 104px 0px 104px 0px;
}
.main-two .offer h1{
  width: 126px;
  height: 58px;
  color: #FF0000;
  font-size: bold;
  font-weight: 48px;
  margin-bottom: 16px;
}
.offer-year{
  width: 276px;
  height: 170px;
  margin-bottom: 0px;
}
.offer-year p{
  width: 276px;
  height: 96px;
  font-size: small;
  font-weight: 20px;
  color: #070211;
  opacity: .4;
  margin-bottom: 0px;
}
.offer-year img{
  width: 140px;
  height: 140px;
  margin-top: 0px;
  margin-bottom: 0px;
}