body{
  max-width: 1320px;
  align-items: center;
  margin-right: 140px;
  margin-left: 140px;
}
header{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}
.merriweather{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}
.head-one{
  background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0)), url(../images/Banner\ Image.png);
  border-radius: 16px;
  color: #FFFFFF;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  text-align: center;
}
.text-one{
  padding: 177px 344px 177px 344px;
  width: 632px;
  height: 246px;
}
.text-one h4{
  font-size: 32px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 16px;
}
.text-one h1{
  margin-top: 0px;
  font-size: 72px;
  font-weight: bolder;
}
.head-two{
  text-align: center;
  width: 803px;
  height: 806px;
  margin: 0px 260px 0px 260px;
}
.head-two h1{
  font-size: 88px;
  font-weight: bold;
  color: #FF0000;
}
.head-two h5{
  font-size: 24px;
  font-weight: 100;
  color: #FF0000;
}
.head-two h2{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
}
.head-two img{
  width: 803px;
  height: 500px;
}
.head-three {
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)) ,url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 120px;
  margin-bottom: 120px;
  width: 100%;
  height:600px;
}
.head-three .item{
  margin: 70px 126px 138px 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head-three .text{
  text-align: left;
}
.head-three .item .text h1{
  width: 500px;
  height: 176px;
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.head-three .item .text p{
  width: 697px;
  height: 60px;
  margin-right: 40px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  margin-top: 24px;
  opacity: .7;
}
.head-three img{
  height: 465px;
  width: 320px;
}
.head-three .item .text button{
  margin-left: 0px;
  width: 120px;
  height: 24px;
  color: #FFFFFF;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.main-one{
  background: linear-gradient(to bottom, #fce1e1 0%, #ffffff 100%);
  width: 1320px-280px;
  height: 482px;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  padding: 100px 386px 110px 385px;
  border-radius: 16px;
}
.main-one .red{
  color: #FF0000;
}
.main-one button{
  color: #FFFFFF;
  background-color: red;
  width: 167px;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 16px 32px 16px 32px;
}
.main-two{
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 463px;
  width: 100%;
  margin-bottom: 120px;
}
.main-two .best-offer-one{
  width: 393px;
  height: 255px;
  padding: 104px 70px 104px 0px;
}
.main-two h4{
  width: 207px;
  height: 29px;
  color: #FF0000;
  font-size: medium;
  font-weight: 24px;
  margin-bottom: 0px;
}
.main-two h1{
  margin-top: 0px;
  width: 328px;
  height: 60px;
  color: #070211;
  font-size: 48px;
  font-weight: bolder;
}
.main-two p{
  width: 329px;
  height: 128px;
  color: #070211;
  font-size: small;
  font-weight: 20px;
  opacity: .5;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-two .circle{
  height: 463px;
  width: 463px;
  padding: 0px 70px 0px 0px;
}
.circle-border {
  display: inline-block;
  padding: 18px;
  border: 10px solid red;
  border-radius: 50%;
}
.main-two .circle-img{
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.main-two .offer{
  padding: 104px 0px 104px 0px;
}
.main-two .offer h1{
  width: 126px;
  height: 58px;
  color: #FF0000;
  font-size: bold;
  font-weight: 48px;
  margin-bottom: 16px;
}
.offer-year{
  width: 276px;
  height: 170px;
  margin-bottom: 0px;
}
.offer-year p{
  width: 200px;
  height: 96px;
  font-size: small;
  font-weight: 20px;
  color: #070211;
  opacity: .4;
  margin-bottom: 0px;
}
.offer-year img{
  width: 140px;
  height: 140px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-three{
  width: 100%;
  height: 987px;
}
.main-three-text{
  width: 1068px;
  height: 260px;
  padding: 0px 126px 64px 126px;
  text-align: center;
  align-items: center;
}
.main-three-head{
  width: 677px;
  height: 137px;
  padding: 0px 196px 27px 196px;
  margin: 0;
}
.main-three-head h4{
  width: 263px;
  height: 29px;
  font-size: medium;
  font-weight: 24px;
  margin-bottom: 0px;
  padding: 0px 207px 17px 207px;
  margin: 0;
}
.main-three-head h1{
  width: 677px;
  height: 91px;
  color: #070211;
  font-weight: bold;
  font-size: 72px;
  margin: 0;
}
.main-three-span{
  color: #FF0000;
}
.main-three-text p{
  height: 96px;
  width: 1068px;
  font-size: medium;
  font-weight: 20px;
  opacity: .7;
  margin: 0;
}
.main-three-img{
  width: 100%;
  height: 662px;
  position: relative;
  background-image: url("../images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.main-three-img2{
  position: absolute;
  right: 0;
  top: 50px;
  width: 300px;
}
.body-four{
  margin-top: 120px;
  width: 1320px;
  height: 1163px;
  margin-bottom: 120px;
}
.body-four-text h4{
  font-size: medium;
  font-weight: 24px;
  color: #FF0000;
  margin: 0;
}
.body-four-text h1{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  margin: 16px 0px;
}
.body-four-text p{
  width: 896px;
  font-size: 20px;
  font-weight: medium;
  color: #070211;
  opacity: .4;
}
.body-four-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    margin-top: 48px;
}
.body-four-img img {
    width: 100%;
    display: block;
    border-radius: 16px;
}
.last-item{
  width: 100%;
  height: 616px;
  background-color: #FF0000;
  background-color: rgba(255, 0, 0, 0.05);
}
.last-item-text{
  width: 896px;
  height: 336px;
  padding: 80px 212px 48px 212px;
  align-items: center;
}
.last-item-text img{
  padding: 0px 373px 40px 373px;
}
.last-item-text .main-text{
  width: 896px;
  height: 146px;
}
.main-text{
  align-items: center;
}
.main-text h1{
  width: 512px;
  height: 60px;
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  padding-left: 192px;
}
.main-text p{
  width: 896px;
  height: 64px;
  margin-top: 22px;
  font-size: 20px;
  font-weight: normal;
  opacity: .4;
  text-align: center;
}
.subscribe{
  padding: 0px 0px 80px 0px;
  width: 648px;
  position: relative;
  margin: 0 auto;
}
.subscribe input{
  width: 100%;
  height: 72px;
  font-size: medium;
  font-weight: 18px;
  border-radius: 80px;
  padding: 0px 210px 0px 30px;
  border: none;
  box-sizing: border-box;
}
.subscribe button {
  position: absolute;
  right: 0;
  top: 0;
  width: 210px;
  height: 72px;
  border: none;
  border-radius: 0px 80px 80px 0px;
  background-color: #FF0000;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}